/* Application: layouts. */
div {
    text-align: center;
    gap: 20px;
}
.App {
    text-align: center;
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.Description {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}
